@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700;900&family=Poppins:wght@300;400;500;600&display=swap");

/* remove arrow from number type input fields */
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

html {
  box-sizing: border-box;
  scrollbar-width: none; /* Firefox */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fcfaf8;
  line-height: 120%;
  font-weight: 300;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
